.error-message{
    text-align: center;
    padding: 30px;
}
.error-message a{
   color: #76ABAE;
}

#welcome{
    text-align: start;
    font-size: 130%;
}

.messages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.onemessage{
    background-color: #31363F;
    border-radius: 15px;
    margin: 15px;
    width: 292px;
}

.userheader{
    display: flex;
    align-items: center; 
    padding: 17px;
}

.user-img{
    height: 40px;
    border-radius: 20px;
    margin-right: 14px;
}

.message-content{
    width: 292px;
    min-height: 100px;
}

.message-img{
    height: 292px;
    padding-bottom: 36px;
    display: block;
}

.message{
    padding: 0px 17px;
    overflow-wrap: break-word;
    box-sizing: border-box; 
    width: 292px;
}